/Labs/Lab1/node_modules
/Labs/Lab1/package-lock.json
/Labs/Lab2/node_modules
/Labs/Lab2/package-lock.json
/Labs/Lab3/node_modules
/Labs/Lab3/package-lock.json
/Labs/Lab4/node_modules
/Labs/Lab4/package-lock.json
/Labs/Lab4/.next
