@tailwind base;
@tailwind components;
@tailwind utilities;

.wt-title {
    @apply text-3xl font-bold underline mb-10;
}

.rounded-lg {
    border-radius: 10px;
}

.rounded-lg img {
    width: 100%;
    height: 100%;
}

